/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* RESET  */

/* COMMON */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 12px
}

.button-background{
    background-color: white; /* Colore di sfondo */
    color: black; /* Colore del testo */
    padding: 1px 20px; /* Spaziatura interna: alto/basso, destro/sinistro */
    text-align: center; /* Allineamento del testo al centro */
    display: inline-block; /* Rende il div in linea, adattandosi al contenuto */
    border-radius: 50px; /* Rendi i lati destro e sinistro a semicerchio */
}
/* Header  */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #255ee9;
    min-height: 30px;
}

header>div {
    margin: 10px;
}

.main-upper {
    height: 20px;

    /* debug */
    /* background-color: orange; */
}

.upper-left {
    text-align: left;
    width: 20%;

    /* debug */
    /* border-right: 2px dotted black; */
}

.discord-logo {
    width: 100%;
    height: 100%;
    margin: auto;
}

.upper-center {
    width: 60%;
    text-align: center;
}

.upper-right {
    width: 20%;
    text-align: right;

    /* debug */
    /* border-left: 2px dotted black; */

}

/* Header  */

/* main */
/* <!-- first main container  --> */
.im-blue {
    background-image: url(../img/jumbo.png);
    background-size: cover;

    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bright-pink {
    background-color: violet;
    height: 80%;
    width: 65%;
    border: 2px dotted black;
}

/* <!-- first main container  --> */

/* <!-- second main container  --> */
.white {
    background-color: white;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    background-color: blue;
    width: 60%;
    height: 150px;
}

.pink {
    background-color: pink;
    width: 40%;
    height: 150px;
}

.border-right {
    border-right: 2px dotted black;
}

/* <!-- second main container  --> */

/* <!-- third main container  --> */

.lightgray {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

/* <!-- third main container  --> */

/* <!-- fifth main container  --> */
.green {
    background-color: green;
    width: 100%;
    height: 300px;
}

/* <!-- fifth main container  --> */

/* <!-- sixth main container  --> */
.black {
    background-color: rgb(33, 30, 30);
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}

.dark-pink {
    background-color: rgb(227, 68, 94);
    width: calc(100%/3);
    height: 200px;
}

.sea-green {
    background-color: rgb(27, 167, 160);
    width: calc(100%/6);
    height: 200px;
}

.white-border {
    border-right: 2px dotted white;
}

/* <!-- sixth main container  --> */
/* main */

/* <!-- <footer> --> */
.black-footer {
    background-color: rgb(33, 30, 30);
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 40px;
    margin-top: 12px;
    background-color: rgb(27, 167, 160);
}

.bottom-little-box {
    text-align: center;
    width: 12%;
    border: 2px dotted black;
}

.color-bottom-little-box {
    height: 20px;
    background-color: pink;
}

/* <!-- <footer> --> */